.attendance-container {
    margin: 20px;
  }
  
  .attendance-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .attendance-table th,
  .attendance-table td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
  }
  
  .attendance-table th {
    background-color: #f2f2f2;
  }
.center {
  text-align: center;
}

.submit-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

  
  .submit-button:hover {
    background-color: #0056b3;
  }
  